/* Mengatur font dasar dan warna latar belakang */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcaf3; /* Warna latar sedikit abu-abu */
    color: #333;
    text-align: center;
}

/* Mempercantik menu navigasi di atas */
nav {
    background-color: #fbb1f7;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none; /* Menghilangkan garis bawah pada link */
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #fba0cf; /* Berubah biru saat kursor diarahkan */
}

/* Mengatur jarak konten utama */
.hero {
    padding: 60px 20px;
}

/* Mengatur gambar profil agar jadi bulat (Syarat Gambar & Styling) */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Membuat kotak jadi lingkaran */
    object-fit: cover;
    border: 4px solid #f595e5;
    margin-bottom: 20px;
}

/* Membuat link sosmed seperti tombol */
.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff8fee; /* Warna biru LinkedIn */
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Ujung tombol sedikit membulat */
    font-weight: bold;
}

.social-links a:hover {
    background-color: #fad6f5;
}

.about-section {
    padding: auto;
    max-width: 400px;
    margin: auto;

}
.about-section h2 {
    color: #f595e5;
    margin-top: 20px;

}
.about-content {
    background-color: #fad6f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: justify; /* Membuat teks rata kiri-kanan */
    line-height: 1.8; /* Memberi jarak antar baris kalimat agar enak dibaca */
}
.about-content h2 {
     color: #f595e5;
    margin-top: 20px;
}